In [36]:
import pandas as pd

In [37]:
# read the csv
csv_path = 'assets/election_data.csv'
election_results = pd.read_csv(csv_path)

In [38]:
election_results.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [39]:
# total number of votes cast
total_votes = election_results["Voter ID"].count()
total_votes

3521001

In [40]:
# complete list of candidates who received votes
pd.DataFrame({"Candidates":election_results["Candidate"].unique()})

  Candidates
0       Khan
1     Correy
2         Li
3   O'Tooley

In [41]:
# percentage of votes each candidate won
results = election_results["Candidate"].value_counts()
percentage_votes = pd.DataFrame({
    "Candidates": results.index.tolist(),
    "Percentage of Votes": ((results.tolist()/total_votes)*100).round(4)
})

percentage_votes.head()

  Candidates  Percentage of Votes
0       Khan                 63.0
1     Correy                 20.0
2         Li                 14.0
3   O'Tooley                  3.0

In [51]:
# The total number of votes each candidate won
results
total_votes = pd.DataFrame({
    "Candidates": results.index.tolist(),
    "Total Votes": results.tolist()
})
total_votes

  Candidates  Total Votes
0       Khan      2218231
1     Correy       704200
2         Li       492940
3   O'Tooley       105630

In [56]:
winner = total_votes.loc[total_votes['Total Votes'].idxmax()].tolist()
winner

['Khan', 2218231]

In [58]:
total_votes.to_csv('output/election_results.csv')